

Results/
__pycache__/

**/.DS_Store
*.dat
*.pdf
*.png
*.jpg
*.ckpt.*
*.gz
*.h5
*.pkl
*.pickle
*.pt
*.pkl
*.pickle
*.xvg
*.mat
*.mp4
*.pyc
*.npz
*.p
*.txt

# Protein files
*.lammpstrj
*.xyz
*.xyz*
*.pdb
*.blend
*.vmd

# virtual environment
.python-version
venv-*
venv-*/
venv-*/*

Data/
Results/
Logs/
Literature/

__pycache__/